<log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Log\logfile.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] (%file:%line) %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingLogFileAppenderDebug" type="log4net.Appender.RollingFileAppender">
    <file value="Log\logfileDebug.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] (%file:%line) %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingLogFileAppenderError" type="log4net.Appender.RollingFileAppender">
    <file value="Log\logfileError.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] (%file:%line) %-5level %logger [%property{NDC}] - %message - excecao%exception%newline" />
    </layout>
  </appender>
  <appender name="RollingLogFileAppenderFatal" type="log4net.Appender.RollingFileAppender">
    <file value="Log\logfileFatal.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] (%file:%line) %-5level %logger [%property{NDC}] - %message - excecao%exception%newline" />
    </layout>
  </appender>

  <!-- Informa o level default do log, ligar esse log liga tambem o log do Spring-->
  <root>
  </root>

  <!-- Informa o log Level INFO para o namesapce HLP.Comum.Infraestrutura que é geral. -->
  <logger name="UI">
  </logger>
  <logger name="Comum" >
    <level value="ERROR" />
    <appender-ref ref="RollingLogFileAppender" />
  </logger>
  <logger name="AcessoADados" >
  </logger>
  <logger name="Negocio" >
  </logger>

</log4net>