<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HLP.Comum.WebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HLP.Comum.WebServices.Properties.Settings>
            <setting name="HLP_Comum_WebServices_wsHLPServicos_Services"
                serializeAs="String">
                <value>http://hlpsistemas.no-ip.org:8081/Servicos/Services.svc</value>
            </setting>
        </HLP.Comum.WebServices.Properties.Settings>
    </applicationSettings>
</configuration>